<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ plugin.display_name }} Settings</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <script src="{{ url_for('static', filename='scripts/response_modal.js') }}"></script>
    <script>
        async function handleAction(action) {
            const loadingIndicator = document.getElementById('loadingIndicator');
            loadingIndicator.style.display = 'block';

            // Gather plugin settings form data
            const form = document.getElementById('settingsForm');
            const formData = new FormData(form);
            let url = '{{ url_for("display.update_now") }}';

            if (action == "schedule"){
                url = '{{ url_for("display.schedule_plugin") }}';
                const scheduleForm = document.getElementById('scheduleForm');
                const scheduleFormData = new FormData(scheduleForm);
                const scheduleData = {};
                for (const [key, value] of scheduleFormData.entries()) {
                    scheduleData[key] = value;
                }
                formData.append("refresh_settings", JSON.stringify(scheduleData));
            }

            // Send data to the server
            try {
                const response = await fetch(url, {
                    method: 'POST',
                    body: formData,
                });
                
                const result = await response.json();
                // Handle the response
                if (response.ok) {
                    showResponseModal('success', `Success! ${result.message}`);
                } else {
                    showResponseModal('failure', `Error!  ${result.error}`);
                }
                closeModal(); // Close the modal if successful
                form.reset()
                const fileInputs = document.querySelectorAll('input[clear-on-submit="true"]');
                fileInputs.forEach(fileInput => {
                    fileInput.value = '';
                    fileInput.dispatchEvent(new Event('change'));
                });
            } catch (error) {
                console.error('Error:', error);
                alert('An error occurred while processing your request.');
            } finally {
                // Hide loading indicator after the action is complete
                loadingIndicator.style.display = 'none';
            }
        }

        function openModal() {
            const modal = document.getElementById('scheduleModal');
            modal.style.display = 'block';
        }
    
        function closeModal() {
            const modal = document.getElementById('scheduleModal');
            modal.style.display = 'none';
        }
    
        // Close modal if the user clicks outside the modal content
        window.onclick = function (event) {
            const modal = document.getElementById('scheduleModal');
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        };
    </script>
</head>
<body>
    <div class="frame">
        <!-- Back Button -->
        <button onclick="history.back()" class="back-button">← Back</button>

        <!-- Plugin Title and Icon -->
        <div class="app-header">
            <img src="{{ url_for('plugin.image', plugin_id=plugin.id, filename='icon.png') }}" alt="{{ plugin.display_name }} icon" class="app-icon">
            <h1 class="app-title">{{ plugin.display_name }}</h1>
            <div id="loadingIndicator" class="loading-indicator"></div>
        </div>
        <div class="separator"></div>

        <!-- Include plugin settings -->
        <form id = "settingsForm" class="settings-form" onsubmit="return false;">
            <div id="settings-container">
                {% include settings_template %}
            </div>

            <!-- Hidden input to pass plugin id -->
            <input type="hidden" name="plugin_id" value="{{ plugin.id }}">
        </form>
 
        <!-- Buttons -->
        <div class="buttons-container">
            <button type="button" onclick="handleAction()" class="action-button left">Update Now</button>
            <button type="button" onclick="openModal()" class="action-button right">Schedule</button>
        </div>
    </div>
    <!-- Success/Error Modal -->
    {% include 'response_modal.html' %}

    <!-- Schedule Configuration Modal -->
    <div id="scheduleModal" class="modal">
        <div class="modal-content">
            <span class="close-button" onclick="closeModal()">×</span>
            <h2>Schedule Configuration</h2>
            <div class="separator"></div>
            <form id="scheduleForm">
                <div class="form-group">
                    <label>Refresh Frequency</label>
                </div>
                <div class="form-group">
                    <label for="interval">Every</label>
                    <input type="number" id="interval" name="interval" class="form-input" required min="1" placeholder="Enter a number">
                    <select id="unit" name="unit" class="form-input" required>
                        <option value="minute">Minute</option>
                        <option value="hour">Hour</option>
                        <option value="day">Day</option>
                    </select>
                </div>
                <div class="buttons-container">
                    <button type="button" onclick="handleAction('schedule')" class="action-button">Schedule</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
