<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <script src="{{ url_for('static', filename='scripts/response_modal.js') }}"></script>
    <script>
        async function handleAction() {
            const form = document.querySelector('.settings-form');
            const formData = new FormData(form);

            try {
                const response = await fetch("{{ url_for('settings.save_settings') }}", {
                    method: 'POST',
                    body: formData,
                });
                
                const result = await response.json();
                if (response.ok) {
                    showResponseModal('success', `Success! ${result.message}`);
                } else {
                    showResponseModal('failure', `Error!  ${result.error}`);
                    form.reset();
                }
            } catch (error) {
                console.error('Error:', error);
                alert('An error occurred while processing your request.');
            }
        }

        let pluginCycleIntervalSeconds = {{ device_settings.plugin_cycle_interval_seconds | default(3600) | tojson }};
    
        // Function to populate the fields
        function populateIntervalFields() {
            const intervalInput = document.getElementById('interval');
            const unitSelect = document.getElementById('unit');

            // Check if pluginCycleIntervalSeconds is valid
            if (pluginCycleIntervalSeconds !== null && pluginCycleIntervalSeconds !== undefined) {
                // Convert seconds to minutes and hours
                let intervalInMinutes = Math.floor(pluginCycleIntervalSeconds / 60);
                let intervalInHours = Math.floor(pluginCycleIntervalSeconds / 3600);

                // Determine which unit to use (minute or hour) based on the interval
                if (intervalInHours > 0) {
                    intervalInput.value = intervalInHours;
                    unitSelect.value = "hour";
                } else {
                    intervalInput.value = intervalInMinutes;
                    unitSelect.value = "minute";
                }
            }
        }

        function toggleCollapsible(button) {
            const content = button.nextElementSibling;
            const icon = button.querySelector(".collapsible-icon");
            button.classList.toggle("active");
            content.style.display = content.style.display === "block" ? "none" : "block";
            icon.textContent = content.style.display === "block" ? "▲" : "▼";
        }

        async function handleShutdown(reboot) {
            if (reboot) {
                showResponseModal('success', 'The system is rebooting. The UI will be unavailable until the reboot is complete.');
            } else {
                showResponseModal('success', 'The system is shutting down. The UI will remain unavailable until it is manually restarted.');
            }
            await new Promise(resolve => setTimeout(resolve, 1000));
            // we cannot await a response here
            await fetch("{{ url_for('settings.shutdown') }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({reboot: reboot})
            });
        }


        function updateSliderValue(slider) {
            const valueDisplay = document.getElementById(`${slider.id}-value`);
            valueDisplay.textContent = parseFloat(slider.value).toFixed(1);
        }
        document.addEventListener('DOMContentLoaded', populateIntervalFields);
    </script>
</head>
<body>
    <div class="frame">
        <!-- Back Button -->
        <button onclick="history.back()" class="back-button">← Back</button>
        <!-- Settings Header -->
        <div class="app-header">
            <div class="header-content">
                <div class="title-container">
                    <img src="{{ url_for('static', filename='icons/settings.png') }}" alt="settings icon" class="app-icon">
                    <h1 class="app-title">Settings</h1>
                </div>
                <div>
                    <button class="header-button" onclick="handleShutdown(true)">Reboot</button>
                    <button class="header-button" onclick="handleShutdown(false)">Shutdown</button>
                </div>
            </div>
        </div>
        <div class="separator"></div>
        <!-- Settings Content -->
        <form class="settings-form">
            <div id="settings-container">
                <!-- Device Name -->
                <div class="form-group">
                    <label for="deviceName" class="form-label">Device Name:</label>
                    <input type="text" 
                           id="deviceName" 
                           name="deviceName" 
                           placeholder="Type something..." 
                           value="{{ device_settings.name }}" 
                           required 
                           class="form-input">
                </div>
                <div class="form-group nowrap">
                    <!-- Orientation Dropdown -->
                    <div class="form-group">
                        <label for="orientation" class="form-label">Orientation:</label>
                        <select id="orientation" name="orientation" class="form-input">
                            <option value="horizontal" {% if device_settings.orientation == "horizontal" %}selected{% endif %}>Horizontal</option>
                            <option value="vertical" {% if device_settings.orientation == "vertical" %}selected{% endif %}>Vertical</option>
                        </select>
                    </div>
                    <div class="form-group nowrap">
                        <!-- Invert Image Checkbox -->
                        <label class="form-label" for="invertImage">Invert Image</label>
                        <input type="checkbox" id="invertImage" name="invertImage" {% if device_settings.inverted_image %}checked{% endif %}>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <!-- Timezone Dropdown -->
                    <div class="form-group nowrap">
                        <label for="timezone" class="form-label">Time Zone:</label>
                        <input
                            type="text"
                            id="timezone"
                            name="timezoneName"
                            class="form-input"
                            list="timezoneList"
                            placeholder="Type to search..."
                            value="{{ device_settings.timezone }}"
                        />
                        <datalist id="timezoneList">
                            {% for timezone in timezones %}
                            <option value="{{ timezone }}"></option>
                            {% endfor %}
                        </datalist>
                    </div>

                    <!-- Time Format Dropdown -->
                    <div class="form-group nowrap">
                        <label for="timeFormat" class="form-label">Time Format:</label>
                        <select id="timeFormat" name="timeFormat" class="form-input">
                            <option value="12h" {% if device_settings.time_format == "12h" %}selected{% endif %}>12 Hour (AM/PM)</option>
                            <option value="24h" {% if device_settings.time_format == "24h" %}selected{% endif %}>24 Hour</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label for="interval">Plugin Cycle Interval:</label>
                        <span title="Determines how often the display switches to a new plugin.">ⓘ</span>
                        <span>Every</span>
                        <input type="number" id="interval" name="interval" class="form-input" required min="1">
                        <select id="unit" name="unit" class="form-input" required>
                            <option value="minute">Minute</option>
                            <option value="hour">Hour</option>
                        </select>
                    </div>

                    <div class="form-group nowrap">
                        <label class="form-label" for="logSystemStats">Log System Stats</label>
                            <input type="checkbox" id="logSystemStats" name="logSystemStats" {% if device_settings.log_system_stats %}checked{% endif %}>
                        </label>
                    </div>
                </div>

                <div class="collapsible">
                    <button type="button" class="collapsible-header" onclick="toggleCollapsible(this)">
                        Image Settings <span class="collapsible-icon">▼</span>
                    </button>
                    <div class="settings-container collapsible-content">
                        <div class="form-group">
                            <label for="saturation" class="form-label" style="min-width: 100px;">Saturation:</label>
                            <span id="saturation-value">{{ device_settings.get('image_settings', {}).get('saturation', 1.0) }}</span>
                            <input
                                type="range"
                                id="saturation"
                                name="saturation"
                                class="form-input"
                                min="0" max="2" step="0.1"
                                value="{{ device_settings.get('image_settings', {}).get('saturation', 1.0) }}"
                                style="max-width: 400px;"
                                oninput="updateSliderValue(this)"
                            />
                        </div>
                        <div class="form-group">
                            <label for="contrast" class="form-label" style="min-width: 100px;">Contrast:</label>
                            <span id="contrast-value">{{ device_settings.get('image_settings', {}).get('contrast', 1.0) }}</span>
                            <input
                                type="range"
                                id="contrast"
                                name="contrast"
                                class="form-input"
                                min="0" max="2" step="0.1"
                                value="{{ device_settings.get('image_settings', {}).get('contrast', 1.0) }}"
                                style="max-width: 400px;"
                                oninput="updateSliderValue(this)"
                            />
                         </div>
                        <div class="form-group">
                            <label for="sharpness" class="form-label" style="min-width: 100px;">Sharpness:</label>
                            <span id="sharpness-value">{{ device_settings.get('image_settings', {}).get('sharpness', 1.0) }}</span>
                            <input
                                type="range"
                                id="sharpness"
                                name="sharpness"
                                class="form-input"
                                min="0" max="2" step="0.1"
                                value="{{ device_settings.get('image_settings', {}).get('sharpness', 1.0) }}"
                                style="max-width: 400px;"
                                oninput="updateSliderValue(this)"
                            />
                        </div>
                        <div class="form-group">
                            <label for="brightness" class="form-label" style="min-width: 100px;">Brightness:</label>
                            <span id="brightness-value">{{ device_settings.get('image_settings', {}).get('brightness', 1.0) }}</span>
                            <input
                                type="range"
                                id="brightness"
                                name="brightness"
                                class="form-input"
                                min="0" max="2" step="0.1"
                                value="{{ device_settings.get('image_settings', {}).get('brightness', 1.0) }}"
                                style="max-width: 400px;"
                                oninput="updateSliderValue(this)"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </form>
 
        <!-- Buttons -->
        <div class="buttons-container">
            <button type="button" onclick="handleAction()" class="action-button">Save</button>
        </div>
    </div>
    <!-- Success/Error Modal -->
    {% include 'response_modal.html' %}
</body>
</html>
